.size {
    height: 200px;
    border: 2px solid blue;
}
.page-title {
    font-family: Montserrat;
    font-size: 70px;
    position: relative;
    top: 0.2em;
}
.bg-fourth {
    background-color: #6784AC;
}
.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid;
}
@media (min-width:778px) {
    .logo {
        position: relative;
        bottom: 5.5em;
    }
}
.bg-image {
    width: 100%;
    z-index: 1;
}

.welcome-div {
    margin: 4% 10% 5% 10%;
}
.middle-box {
    width: 100%;
    position: relative;
    margin-top: -23%;
    border-radius: 10px;
    border: 3px solid black;
}
.directory-button {
    height: 55px;
    border-radius: 10px;
    border: 0px transparent;
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
}
.directory-button:hover {
    background-color: #229F54;
}
.text-align {
    text-align: center;
}
#credits {
    border: 3px solid black;
    margin-bottom: -11px;
    position: relative;
    bottom: 10px;
    background: white;
}
.credit-size {
    width: 12em;
    text-align: center;
    height: 8em;
}
#vm {
    position: relative;
    left: 25%;
}
#mrM {
    position: relative;
    left: 62%;
    bottom: 8em;
}
.main-p-text {
    text-align: center;
    font-size: 1.2em;
}
#section-1 {
    border: 0px solid black;
    width: 101vw;
    position: relative;
    right: 5px;
    top: 6px;
}
body {
    overflow-x: hidden;
}
#section1img {
    width: 50vw;
    position: relative;
    left: 25vw;
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 25px;
}
#section-2 {
    border: 0px solid black;
    width: 49.9%;
    position: relative;
    top: 5px;
    right: 3px;
    height: 105vh;
}
.negative-p-margin {
    margin-top: -5px;
    margin-bottom: -5px;
}
.s2p {
    font-size: 20px;
}
#section-3 {
    border: 0px solid black;
    width: 49.9%;
    position: relative;
    top: 5px;
    right: 5px;
    text-align: center;
    height: 105vh;
    border-right: 10px;
}
.img-size-config {
    height: 250px;
    width: 340px;
    border: 2px solid black;
    border-radius: 25px;
}
.content-adjustment {
    position: relative;
    top: 40px;
}
.s3p {
    font-size: 20px;
}
.img1 {
    height: 250px;
    position: relative;
    top: 71px;
    width: 250px;
}    
#s3link {
    position: relative;
    bottom: 130px;
}
#s2link {
    position: relative;
    bottom: 130px;
    left: 50px;
}
.home {
    position: relative;
    bottom: 180px;
    left: 99%;
    color: black;
    width: 10px;
}
.home:hover {
    color: blue;
}
@media(max-width:1200px) {
    .img1 {
        position: relative;
        left: 100px !important;
        margin-top: -80px !important;
    }
    #s2link {
        margin-bottom: -80px !important;
        position: relative;
        bottom: 90px;
    }
}
@media(max-width:900px) {
    #section-2 {
        width: 100% !important;
        float: none !important;
        margin-bottom: 10%;
    }
    #section-3 {
        width: 100% !important;
        float: none !important;
        margin-top: 10%;
    }
    .img1 {
        margin-left: auto;
        margin-right: auto;
        height: 25vh;
        width: 25vw;
    }
    #mrM {
        float: none;
        top: 0.1em;
        position: relative;
        left: 40%;
    }
    #vm {
        float: none;
        left: 40%;
    }
}
@media(max-width:400px) {
    #section-2 {
        margin-bottom: 80%;
    }
    #section-3 {
        margin-top: 70%;
    }
}
@media(max-width:786px) {
    .home {
        left: 500px;
    }
}
@media(max-width:650px) {
    .home {
        left: 400px;
    }
}
@media(max-width:500px) {
    .home {
        left: 300px;
    }
}
@media(max-width:400px) {
    .home {
        left: 200px;
    }
}
@media(max-width:300px) {
    .home {
        left: 100px;
    }
}
@media(max-width:200px) {
    .home {
        left: 0px;
    }
}
@media(max-width:674px) {
    .directory-button {
        width: 50px;
        font-size: 15px;
        text-align: center;
    }
}
@media(max-width:400px) {
    #mrM {
        float: none;
        top: 0.1em;
        position: relative;
        left: 30%;
    }
    #vm {
        float: none;
        left: 30%;
    }
}
@media(max-width:350px) {
    #mrM {
        float: none;
        top: 0.1em;
        position: relative;
        left: 15%;
    }
    #vm {
        float: none;
        left: 15%;
    }
}
@media(max-width:450px) {
    .page-title {
        font-size: 50px;
    }
}
@media(max-width:330px) {
    .page-title {
        font-size: 30px;
    }
    .credit-size {
        width: 8em;
    }
    .phone-px-adj {
        font-size: 15px;
    }
    .phone-px-adj-p {
        font-size: 12px;
    }
    .logo {
        width: 75px;
        height: 75px;
    }
}
@media(max-width:330px) {
    .page-title {
        font-size: 20px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    .size {
        height: 150px;
    }
}